.slider-tags{
    background-color: #262626ff;
    cursor: pointer;
    margin-right:15px;
    text-wrap: nowrap;
    user-select: none;
}
.slider-tags:hover{
    background-color: gray;
}
.slider-tags .slider-tags-link{
    text-decoration: none;
    color:white;
}

.slider-over{
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.slider-over::-webkit-scrollbar{
    display: none;
}
.slider-active-tag{
    background-color: white;
    cursor: pointer;
    margin-right:15px;
    text-wrap: nowrap;
    user-select: none; 
    color:black; 
}
.slider-active-tag .slider-tags-link{
    color:black;
    text-decoration: none;
}